<div uk-grid>
  <div class="uk-width-1-3@m"></div>
  <div class="uk-width-1-3@m">
    <div id="logo"></div>
  </div>
  <div class="uk-width-1-3@m"></div>
</div>




<!--SLIDE DE FOTOS-->

<div uk-slider="center: true">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
            
          <!--CADA li REPRESENTA UNA IMAGEN DEL SLIDE-->
          
          <!--IMAGEN 1-->
          <li>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <!--https://drive.google.com/file/d/1wGp7ZyvBaIB48p2nOjTv4KsVyasti3ML/view?usp=sharing-->
                        <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                      <!--JORNADA-->
                        <h3 class="uk-card-title">ENCABEZADO.....</h3>
                        <p>Descripción basica del evento....</p>
                    </div>
                </div>
            </li>


            <!--IMAGEN 2-->
            <li>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <!--CAMBIAR AQUI LA IMAGEN-->
                        <img src="https://getuikit.com/docs/images/photo2.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                      <!--CAMBIAR AQUI TEXTO-->
                        <h3 class="uk-card-title">Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </li>

            
             <!--IMAGEN 3-->
             <li>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <!--CAMBIAR AQUI LA IMAGEN-->
                        <img src="https://getuikit.com/docs/images/photo2.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                      <!--CAMBIAR AQUI TEXTO-->
                        <h3 class="uk-card-title">Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </li>



        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>


<!-- fin SLIDE DE FOTOS-->












<!--PAGINA PRINCIPAL-->

<div id="nbsp">
  &nbsp;
</div>


<div uk-grid>
  <div class="uk-width-1-6@m"  id="vision-side"></div>
  <div class="uk-width-1-3@m" id="vision-parent">
    <div id="vision">
      <h1 style=" font-family: 'Roboto'; font-size: 60px; font-weight: 300; color: rgb(167, 167, 167);">Visión</h1>
      <p>
        Consolidarnos en el 2020 como una empresa referente en el mercado en los servicios que presta, que aplica los sistemas de
        calidad en la prestación de sus servicios, que genera trabajo digno y estable para sus empleados y que mejora continuamente
        con la retroalimentación de cada uno de nuestros clientes.
      </p>
    </div>
  </div>
  <div class="uk-width-expand@m"></div>
</div>






<div id="nbsp-inline">
  &nbsp;
</div>


<div uk-grid>
  <div class="uk-width-1-6@m"></div>
  <div class="uk-width-expand@m" id="mision-parent">
    <div id="mision">
      <h1 style=" font-family: 'Roboto'; font-size: 60px; font-weight: 300; color: rgb(167, 167, 167);">Misión</h1>
      <p>
        Somos una empresa experta en servicios legales, de formación y capacitación, dedicada a proveer soluciones ajustadas a las
        necesidades propias de cada cliente u organización, generando valor agregado en cada una de nuestras actuaciones
        lo cual permite el logro de los objetivos de nuestros clientes. Nuestros servicios se enfocan a la prestación de
        servicios profesionales o de consultoría en asesoría legal en el campo del derecho público y privado, así como en
        el ejercicio de la representación legal y/o la defensa jurídica de personas naturales o jurídicas, nacionales o extranjeras
        ante las autoridades judiciales o administrativas a nivel nacional o internacional.
      </p>

      <p [style.display]="!readmore ? 'none' : 'block'">
        Igualmente, prestamos nuestros servicios en el desarrollo de procesos de capacitación y formación con la finalidad de desarrollar
        y cualificar el talento humano en las empresas públicas o privadas, con miras a facilitar la consecución de sus objetivos.
        Nuestra experiencia en la gestión pública administrativa, en la defensa de los derechos e intereses de nuestros clientes
        y en la gestión del conocimiento de las organizaciones, nos permite contar con los conocimientos para enfrentar la
        incertidumbre, la complejidad creciente y los altos riesgos del mundo actual.
      </p>


      <a (click)="readmore = !readmore" [textContent]="readmore ? 'leer menos...' : 'leer más...'"> &nbsp; leer más...</a>




      <br/>
      <br/>
      <div uk-grid class="uk-text-center">
        <div class="uk-width-1-3@m"></div>
        <div class="uk-width-1-3@m">
          <a style="font-size: 18px;" class="uk-button uk-button-text" routerLink="/portafolio">Portafolio de Servicios</a>
        </div>
        <div class="uk-width-1-3@m"></div>
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@m"></div>
</div>







<div id="nbsp-inline">
  &nbsp;
</div>


<div uk-grid id="asociados">
  <div class="uk-width-expand@m"></div>

  <div class="uk-width-1-3@m" id="asociados_card">
    <div style="padding: 5em 2.5em;">
      <h1 style=" font-family: 'Roboto'; font-size: 60px; font-weight: 300; color: rgb(167, 167, 167);">Asociados</h1>
      <div class="uk-margin-auto-vertical">
        <div id="asociadp_1"></div>
        <br/>
        <p class="uk-button uk-button-text" routerLink="/asociados" style="font-size: 22; color: rgb(83, 83, 83); margin-top: 1em;">Carlos Humberto Garcia Orrego</p>
        <hr style="width: 250px;" />
        <p>
          <i class="icon ion-ios-call"></i>&nbsp;&nbsp;&nbsp;(+57) 313 893-5855 </p>
        <br/>
        <p style="font-synthesis: 16px; margin-top: -1.5em;">
          <i class="icon ion-md-mail"></i>&nbsp;carloshgarciaorr@hotmail.com</p>
      </div>


    </div>
  </div>
  <div class="uk-width-1-6@m" id="asociados_side"></div>
</div>









<div id="nbsp-inline">
  &nbsp;
</div>

<br/>
<br/>



<div uk-grid>
  <div class="uk-width-expand@m" style="background-color: white;">
    <div style="padding: 5em;">
      <h1 style=" font-family: 'Roboto'; font-size: 60px; font-weight: 300; color: rgb(167, 167, 167);">Contacto</h1>

      <h1 style=" font-family: 'Roboto'; font-size: 16px; font-weight: 300; color: rgb(167, 167, 167);">dirección</h1>
      <p class="contact-items">
        Carrera 54D Número 135- 06
        <br/> Torres Acqua Oficina 1004
        <br/> Bogotá D.C.
      </p>

      <h1 style=" font-family: 'Roboto'; font-size: 16px; font-weight: 300; color: rgb(167, 167, 167);">celular</h1>
      <p class="contact-items">
        (+57) 313 893-5855
      </p>

      <h1 style=" font-family: 'Roboto'; font-size: 16px; font-weight: 300; color: rgb(167, 167, 167);">correo</h1>
      <div id="correo-home">
        <p class="contact-items">
          carloshgarciaorr@hotmail.com
        </p>
      </div>

      <h1 style=" font-family: 'Roboto'; font-size: 16px; font-weight: 300; color: rgb(167, 167, 167);">siguenos</h1>
      <a href="https://www.instagram.com/g_lsas/" style="text-decoration: none; color: black;">
        <span uk-icon="icon: instagram; ratio: 2.5"></span>
      </a>
      <span> &nbsp; @g_lsas</span>

    </div>
  </div>
</div>
