<div style="min-height: 100vh;">


  <div uk-grid>
    <div class="uk-width-1-6@m"></div>
    <div class="uk-width-expand@m" style="background-color: white; border-radius: 3em;">
      <div style="padding: 3em;">
        <h1 style=" font-family: 'Roboto'; font-size: 60px; font-weight: 300; color: rgb(167, 167, 167);">Capacitación</h1>

        <br/>
        <br/>

        <ul uk-accordion class="uk-margin-bottom" style="margin-bottom: 5em;">


          <li class="uk-open">
            <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Justificación</a>
            <div class="uk-accordion-content">
              <p>G&L Capacitación atiende y diseña las soluciones de capacitación conforme al diagnóstico de necesidades de
                capacitación de las entidades públicas o privadas, privilegiando la participación de los funcionarios en
                la construcción del currículo y el diseño de las metodologías de aprendizaje, generando valor agregado en
                cada una de nuestras actuaciones lo cual permite el logro de los objetivos de nuestros clientes. Nuestra
                experiencia en la gestión pública administrativa y en la gestión del conocimiento de las organizaciones,
                nos permite contar con los conocimientos para enfrentar la incertidumbre, la complejidad creciente y los
                altos riesgos del mundo actual.</p>
            </div>
          </li>

          <li>
            <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Ciclo del Proceso </a>
            <div class="uk-accordion-content">
              <p>
                Para ello, el área de capacitacion de G&L desarrolla sus procesos con base en un conjunto de acciones que facilitan el aprendizaje
                organizacional y la gestión de conocimiento de la siguiente manera: </p>
              <ul class="uk-list uk-list-bullet">
                <li>
                  <p>Diagnóstico de necesidades de capacitación: Identificación de las necesidades de acuerdo a la misión y
                    objetivos estratégicos planteados por la organización. </p>
                </li>
                <li>
                  <p>Planeación. Se priorizan las acciones a desarrollar de acuerdo a los recursos.</p>
                </li>
                <li>
                  <p>Elaboración y propuesta de diseños curriculares pertinentes y oportunos, tendientes a satisfacer las necesidades
                    de formación de la organización.</p>
                </li>
                <li>
                  <p>Ejecución y seguimiento: Se realiza en el desarrollo y control de las actividades para que concuerden con
                    lo planeado.</p>
                </li>
                <li>
                  <p>Evaluación y retroalimentación: Proceso que nos permite valorar los resultados conseguidos en torno a los
                    objetivos de la organización y mejorar continuamente el proceso de capacitación.</p>
                </li>
              </ul>
            </div>
          </li>


          <li>
            <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Programas Académicos</a>
            <div class="uk-accordion-content">
              <p>Nuestra propuesta de capacitación incluye una amplia oferta de programas, cursos, talleres de formación y actualización,
                orientados a apoyar a los participantes en las distintas etapas de su desarrollo profesional, así como en
                sus necesidades particulares. Ofrecemos soluciones de capacitación ágiles y aplicadas a la realidad de la
                organización y al tiempo disponible de los participantes.</p>

              <ul class="uk-margin-left" uk-accordion>

                <li>
                  <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Curso Virtual</a>
                  <div class="uk-accordion-content">
                    <p>
                      Se propone la elaboración de un curso de inducción - reinducción virtual con el objetivo de facilitar la integración del
                      empleado a la cultura organizacional, al Plan Estratégico de la Administración y a la comprensión de
                      los principales aspectos misionales, administrativos y control de la entidad.
                      <br/> Con el apoyo en las herramientas tecnológicas, se incorporan las tecnologías de la información y la
                      comunicación para el uso de una plataforma educativa virtual que permita la producción de objetos virtuales
                      de aprendizaje y de información.
                      <br/> La principal ventaja de esta modalidad, es la de permitir el inicio del proceso de inducción cada
                      vez que se produzca la incorporación de un nuevo empleado, sin necesidad de esperar a conformar un
                      grupo como sucede con la capacitación presencial y además puede ser adelantado en cualquier momento
                      por el usuario pues se cuenta con disponibilidad los 7 días de la semana durante las 24 horas del día.
                      <br/>
                    </p>
                  </div>
                </li>


                <li>
                  <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Capacitación presencial - Bloques temáticos</a>
                  <div class="uk-accordion-content">

                    <ul class="uk-margin-left" uk-accordion>


                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">1. Gestión pública</a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Gerencia de las políticas públicas y su ciclo. </p>
                            </li>
                            <li>
                              <p>Planeación. </p>
                            </li>
                            <li>
                              <p>Sistemas de Gestión de Proyectos, Gestión Integrada de Proyectos. </p>
                            </li>

                          </ul>
                        </div>
                      </li>

                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">2. El contrato estatal, el sistema de compra pública y el presupuesto </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Contratación estatal. Principios en la contratación estatal. Planeación contractual. Plan anual
                                de contratación. Procedimientos de selección de contratistas. Fases del proceso contractual:
                                Planeación, selección, contratación y ejecución. Colombia compra eficiente. Nuevos esquemas
                                de compra pública. </p>
                            </li>
                            <li>
                              <p>Supervisión e interventoría. </p>
                            </li>
                            <li>
                              <p>Proyecto de reforma a la Ley 80 de 1993 y a la Ley 1150 de 2007. </p>
                            </li>
                            <li>
                              <p>Presupuesto público, Elementos conceptuales y normativos, Proyecto político de gobierno, Plan
                                de desarrollo, Plan financiero, Plan operativo anual de inversiones, regalías, lineamientos
                                para la inversión de recursos de regalías. </p>
                            </li>
                          </ul>
                        </div>
                      </li>

                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">3. Procesos de control </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Control interno de gestión. Modelo Estándar de Control Interno. </p>
                            </li>
                            <li>
                              <p>Control interno disciplinario. Fundamentos constitucionales de la potestad disciplinaria. Estructura
                                de la falta disciplinaria. Dogmática de la sanción disciplinaria. El proceso disciplinario.
                              </p>
                            </li>

                          </ul>
                        </div>
                      </li>

                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">4. Gestión del talento humano </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Liderazgo </p>
                            </li>
                            <li>
                              <p>Comunicación asertiva </p>
                            </li>
                            <li>
                              <p>Trabajo en equipo </p>
                            </li>
                            <li>
                              <p>Resolución de conflictos </p>
                            </li>
                            <li>
                              <p>Motivación personal </p>
                            </li>
                            <li>
                              <p>Articulación de valores y principios personales e institucionales </p>
                            </li>
                            <li>
                              <p>Manejo del tiempo </p>
                            </li>
                            <li>
                              <p>Toma de decisiones </p>
                            </li>
                          </ul>
                        </div>
                      </li>

                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">5. Ley 1437 de 2011 – Código General del Proceso Administrativo y Contencioso Administrativo (CPACA)</a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Procedimiento administrativo. </p>
                            </li>
                            <li>
                              <p>Procedimiento administrativo general. </p>
                            </li>
                            <li>
                              <p>Procedimiento administrativo sancionatorio.</p>
                            </li>
                            <li>
                              <p>Utilización de medio electrónicos. </p>
                            </li>
                            <li>
                              <p>Publicaciones, notificaciones y recursos. </p>
                            </li>
                            <li>
                              <p>Medios de control. </p>
                            </li>
                            <li>
                              <p>Proceso contencioso administrativo. Demanda. Etapas del proceso.</p>
                            </li>
                            <li>
                              <p>Pruebas</p>
                            </li>
                            <li>
                              <p>Medidas cautelares. </p>
                            </li>
                            <li>
                              <p>Recursos ordinarios y extraordinarios. </p>
                            </li>


                          </ul>
                        </div>
                      </li>

                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">6. Participación ciudadana y control social </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Derecho de petición y ley de transparencia. </p>
                            </li>
                            <li>
                              <p>Las acciones constitucionales como herramienta fundamental en el ejercicio de la protección
                                de los derechos. </p>
                            </li>
                            <li>
                              <p>Mecanismos de participación y control social. </p>
                            </li>
                            <li>
                              <p>Política de atención y servicio al ciudadano. </p>
                            </li>
                          </ul>
                        </div>
                      </li>

                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">7. Servicios públicos </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Fundamento constitucional de los servicios públicos. </p>
                            </li>
                            <li>
                              <p>Régimen jurídico administrativo de los servicios públicos en Colombia. </p>
                            </li>
                            <li>
                              <p>El ejercicio del control de los servicios públicos por parte de la administración. </p>
                            </li>
                            <li>
                              <p>Normas relacionadas del CPACA. </p>
                            </li>
                            <li>
                              <p>Normatividad específica para cada área de los servicios públicos. </p>
                            </li>

                          </ul>
                        </div>
                      </li>


                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">8. Derechos humanos </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Fundamentos de los derechos humanos. </p>
                            </li>
                            <li>
                              <p>Fundamentos del derecho internacional humanitario. </p>
                            </li>
                            <li>
                              <p>Ley de victimas y justicia transicional. </p>
                            </li>
                            <li>
                              <p>Competencias de la entidad en materia de ley de victimas. </p>
                            </li>
                            <li>
                              <p>Modelo de atención, asistencia y reparación integral a las víctimas. </p>
                            </li>
                            <li>
                              <p>Acuerdo final para la terminación del conflicto y la construción de una paz estable y duradera.
                                </p>
                            </li>
                            <li>
                              <p>La entidad y su papel en el posconflicto. </p>
                            </li>


                          </ul>
                        </div>
                      </li>


                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">9. Medio ambiente y función pública </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Normas de urbanismo </p>
                            </li>
                            <li>
                              <p>Derecho al medio ambiente sano </p>
                            </li>
                            <li>
                              <p>Desarrollo sostenible </p>
                            </li>
                            <li>
                              <p>Ley de tierras </p>
                            </li>
                            <li>
                              <p>Normatividad ambiental</p>
                            </li>
                            <li>
                              <p>Acuerdo final para la terminación para la terminación del conflicto y la construción de una
                                paz estable y duradera </p>
                            </li>

                          </ul>
                        </div>
                      </li>


                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">10. Derecho administrativo sancionador en Colombia </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Sector salud. </p>
                            </li>
                            <li>
                              <p>Sector de medio ambiente. </p>
                            </li>
                            <li>
                              <p>Sector de espacio público. </p>
                            </li>

                          </ul>
                        </div>
                      </li>




                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">11. Derecho Tributario, Aduanero y Cambiario </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Impuesto sobre la renta y complementarios.
                                Impuesto sobre las ventas – IVA. Retención en la fuente. Procedimiento tributario. Precios
                                de transferencia. </p>
                            </li>
                            <li>
                              <p> Actualización tributaria, aduanera y cambiaria. </p>
                            </li>
                            <li>
                              <p>Normas Internacionales de Información Financiera - NIIF </p>
                            </li>

                          </ul>
                        </div>
                      </li>



                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">12. Lógica, argumentación y redacción jurídica </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Técnica para la presentación de los hechos.</p>
                            </li>
                            <li>
                              <p> Técnica para la presentación de las pruebas. </p>
                            </li>
                            <li>
                              <p>Clases y desarrollo de los argumentos. </p>
                            </li>

                          </ul>
                        </div>
                      </li>




                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">13. Sistema de Calidad y Modelo Estándar de Control Interno MECI </a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Estrategias </p>
                            </li>
                            <li>
                              <p>Misión y visión de la entidad </p>
                            </li>
                            <li>
                              <p>Análisis de procesos </p>
                            </li>
                            <li>
                              <p>Estructura organizacional </p>
                            </li>
                            <li>
                              <p>Gestión documental </p>
                            </li>
                            <li>
                              <p>Normas ISO </p>
                            </li>
                            <li>
                              <p>Componentes del MECI </p>
                            </li>
                          </ul>
                        </div>
                      </li>




                      <li>
                        <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">14. Conciliación</a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-bullet">
                            <li>
                              <p>Origen y evolución del conflicto. </p>
                            </li>
                            <li>
                              <p>Métodos y herramientas para la conciliación. </p>
                            </li>
                            <li>
                              <p>Conciliación en materia contencioso administrativa. </p>
                            </li>
                            <li>
                              <p>Conciliación en civil y comercial. </p>
                            </li>
                            <li>
                              <p>Técnicas de comunicación. Mecanismos alternativos de solución de conflictos en Colombia. </p>
                            </li>
                            <li>
                              <p>Arbitramento </p>
                            </li>

                          </ul>
                        </div>
                      </li>




                    </ul>


                  </div>
                </li>

              </ul>

            </div>
          </li>



          


          <li>
              <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Número de horas</a>
              <div class="uk-accordion-content">
                <p>Cada bloque temático tendrá la intensidad horaria que requiera la empresa o entidad contratante, de acuerdo al diagnóstico de necesidades y al plan estratégico.</p>
              </div>
            </li>

            <li>
                <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Equipo docente</a>
                <div class="uk-accordion-content">
                  <p>El equipo docente está conformado por profesionales especialistas en cada uno de los campos de conocimiento asignado, cuentan con amplia experiencia y trayectoria en el área de desempeño.</p>
                </div>
              </li>

              <li>
                  <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Material</a>
                  <div class="uk-accordion-content">
                    <p>
                        Cada uno de los asistentes recibirá el material académico del correspondiente módulo el cual constará de CD de cada bloque temático con el material de apoyo y de soporte a los conocimientos impartidos, compuesto por jurisprudencia, doctrina, páginas web, notas del profesor y demás información que se considere pertinente.
                    </p>
                  </div>
                </li>


                <li>
                    <a class="uk-accordion-title" style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Gerente del Área de Capacitación</a>
                    <div class="uk-accordion-content">
                        <h1 style=" font-family: 'Roboto'; font-size: 25px; font-weight: 700; color:black;">Carlos Humberto García Orrego</h1>
                        <p>

                            Con más de 15 años al frente de la División de Capacitación del Instituto de Estudios del Ministerio Público de la Procuraduría General de la Nación, ha liderado procesos de formación y capacitación a nivel nacional para los funcionarios del Ministerio Público. 
                            ​<br/>
                            ​<br/>
                            Es especialista en Planeación Educativa, derecho administrativo, contratación estatal y derecho penal, acutalmente adelanta maestría en derecho administrativo en la Universidad Libre de Colombia. 
                            ​<br/>
                            ​<br/>
                            ​
                            Igualmente ha sido docente en las áreas de derecho administrativo colombiano, contratación estatal, derecho disciplinario, estructura del Estado y temas de gestión organizacional, desarrolladas en diversas actividades de capacitación adelantadas por la Escuela de Investigación Criminal y Criminalística de la Fiscalía General de la Nación, Universidad Santo Tomás, Universidad Libre, Católica de Colombia, Santiago de Cali, Universidad de la Amazonía, Escuela Superior de Administración Pública ESAP y del Instituto de Estudios del Ministerio Público de la Procuraduría General de la Nación. Hace parte y lideró la red de formadores del Instituto de Estudios del Ministerio Público de la Procuraduría General de la Nación. 
                            ​<br/>
                            ​<br/>
                            ​
                            Creó, dirigió y coordinó la publicación Reflexiones Académicas en Derecho Disciplinario y Contratación Estatal que edita el Instituto de Estudios del Ministerio Público. 
                            ​<br/>
                            ​<br/>
                             
                            También se desempeñó como Jefe de la Oficina de Control Interno de la Procuraduría General de la Nación.

                        </p>
                    </div>
                  </li>


        </ul>


      </div>
    </div>
    <div class="uk-width-1-6@m"></div>
  </div>


</div>
