<div style="position: absolute; top: 0; width: 100%; min-height: 100vh; overflow-x: hidden; background-color: whitesmoke">




    <a class="uk-button uk-margin-top" type="button" uk-toggle="target: #offcanvas-nav-primary" style="text-decoration: none; position: fixed; z-index: 100;">
        <i id="menu_icon" class="icon ion-md-menu" style="font-size: 65px;"></i>
      </a>







    <div uk-grid>
      <div class="uk-width-1-3@m"></div>
      <div class="uk-width-1-3@m">
        <div id="logo_black"></div>
      </div>
      <div class="uk-width-1-3@m"></div>
    </div>




    <div id="modal-post-publication" uk-modal>
      <div class="uk-modal-dialog">


        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
          <h2 *ngIf="!publicado" class="uk-modal-title">Crea una nueva publicación</h2>
          <h2 *ngIf="publicado" class="uk-modal-title" style="color: rgb(31, 177, 61);">Publicado!</h2>
        </div>

        <div *ngIf="!publicado" class="uk-modal-body">
          <form (ngSubmit)="onSubmit(publicationForm)" #publicationForm="ngForm">
            <fieldset class="uk-fieldset">
              <div class="uk-margin">
                <input [(ngModel)]="publication.title" #title="ngModel" name="title" required minlength="1" [ngClass]="{'uk-form-danger': title.errors && title.touched}"
                  class="uk-input" type="text" placeholder="Un título interesante">
              </div>
              <div class="uk-margin">
                <input [(ngModel)]="publication.text" #text="ngModel" name="text" required minlength="1" [ngClass]="{'uk-form-danger': text.errors && text.touched}"
                  class="uk-input" type="text" placeholder="Breve descripción de la publicación">
              </div>
              <div class="uk-margin">
                <input [(ngModel)]="publication.image" #image="ngModel" name="image" [ngClass]="{'uk-form-danger': image.errors && image.touched}"
                  class="uk-input" type="text" placeholder="URL Imagen representantiva">
              </div>
              <br/>
              <hr/>
              <div class="uk-margin uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button type="submit" [disabled]="!publicationForm.form.valid" class="uk-button uk-button-primary">
                  Publicar
                </button>
              </div>
            </fieldset>
          </form>
        </div>


        <div *ngIf="publicado" class="uk-modal-body">
          <div class="uk-margin uk-text-center">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Listo</button>
          </div>
        </div>

      </div>
    </div>











    <div uk-grid>
      <div class="uk-width-1-6@m"></div>
      <div class="uk-width-expand@m">
        <div style="position: relative;">



          <h1 style=" font-family: 'Roboto'; font-size: 60px; font-weight: 300; color: rgb(167, 167, 167);">Nuestro Foro</h1>


          <div *ngIf="auth.author | async as author">
            <a *ngIf="author.rol == 'admin'" (click)="publicado = false" href="#modal-post-publication" uk-toggle>
              <h1>
                <i class="icon ion-md-add" style="font-size: 75px; position: absolute; top: 0em; right: 1em;"></i>
              </h1>
            </a>
          </div>


          <hr/>

          <br/>
          <br/>

          <div uk-grid="masonry: true">


            <div class="uk-width-1-2@m" *ngFor="let pub of publications | async">
              <div class="uk-card uk-card-default">


                <a routerLink="/foro/publicaciones/{{pub.id}}" style="text-decoration: none;">
                  <div class="uk-card-media-top">
                    <img [src]="pub.image" alt="">
                  </div>
                </a>
                <div class="uk-card-body">
                  <a routerLink="/foro/publicaciones/{{pub.id}}" style="text-decoration: none;">
                    <h3 class="uk-card-title">{{pub.title}}</h3>
                  </a>
                  <h6 style="margin-top: -1em;"> {{pub.visits}} Visitas &nbsp; | &nbsp; {{pub.posts.length}} Publicaciones</h6>
                  <p>{{pub.text}}</p>

                  <div *ngIf="auth.author | async as author">

                    <div *ngIf="author.rol == 'admin'" class="uk-text-right" style="z-index: 100;" uk-grid>
                      <div class="uk-width-1-2@m"></div>
                      <div class="uk-width-1-6@m"></div>

                      <div class="uk-width-1-6@m">
                        <h1>
                          <a style="text-decoration: none;" href="#modal-full-{{pub.id}}" uk-toggle (click)="actualizando = false">
                            <i class="icon ion-md-crop" style="font-size: 45px;"></i>
                          </a>
                        </h1>
                      </div>

                      <div class="uk-width-1-6@m">
                        <h1>
                          <a (click)="delete(pub.id)">
                            <i class="icon ion-md-trash" style="font-size: 45px;"></i>
                          </a>
                        </h1>
                      </div>



                    </div>
                  </div>

                </div>

              </div>





              <div id="modal-full-{{pub.id}}" class="uk-modal-full" uk-modal>
                <div class="uk-modal-dialog" style="height: 100vh; width: 100%; overflow: hidden;">
                  <div style="padding-top: 5em;">
                    <a class="uk-modal-close-full uk-close-large" type="button" uk-close>
                    </a>
                    <div uk-grid>
                      <div class="uk-width-1-4@m"></div>
                      <div class="uk-width-expand@m">


                        <div class="uk-card">
                          <div class="uk-card-header" style="margin-bottom: -1em">
                            <h2 *ngIf="!actualizando" class="uk-modal-title">Editar la publicación</h2>
                            <h2 *ngIf="actualizando" class="uk-modal-title" style="color: rgb(31, 177, 61);">Editado!</h2>
                          </div>

                          <div *ngIf="!actualizando" class="uk-card-body" style="margin-top: -1em;">
                            <form (ngSubmit)="update(updateForm, pub.id)" #updateForm="ngForm">
                              <fieldset class="uk-fieldset">
                                <div class="uk-margin">
                                  <input class="uk-input" type="text" name="title" value="{{pub.title}}" placeholder="{{pub.title}}" [(ngModel)]="pub.title">
                                </div>
                                <div class="uk-margin">
                                  <input class="uk-input" type="text" name="text" value="{{pub.text}}" placeholder="{{pub.text}}" [(ngModel)]="pub.text">
                                </div>
                                <div class="uk-margin">
                                  <input class="uk-input" type="text" name="image" value="{{pub.image}}" placeholder="{{pub.image}}" [(ngModel)]="pub.image">
                                </div>
                                <br/>
                                <hr/>
                                <div class="uk-margin uk-text-right">
                                  <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                                  <button type="submit" [disabled]="!updateForm.form.valid" class="uk-button uk-button-primary">
                                    Confirmar
                                  </button>
                                </div>
                              </fieldset>
                            </form>
                          </div>


                          <div *ngIf="actualizando" class="uk-card-body">
                            <div class="uk-margin uk-text-center">
                              <button class="uk-button uk-button-default uk-modal-close" type="button">Listo</button>
                            </div>
                          </div>

                        </div>


                      </div>
                      <div class="uk-width-1-4@m"></div>
                    </div>
                  </div>
                </div>
              </div>









            </div>

            <div *ngIf="!(publications | async)">
              <span style="background-color: rgba(255, 255, 255, 0)" class="uk-margin-left" uk-spinner="ratio: 4.5"></span>
            </div>




          </div>


        </div>
      </div>
      <div class="uk-width-1-6@m"></div>
    </div>







    <div id="nbsp-inline">
      &nbsp;
    </div>


























</div>
