<div class="uk-offcanvas-content" id="home_base">




  <a class="uk-button uk-margin-top" type="button" uk-toggle="target: #offcanvas-nav-primary" style="text-decoration: none; position: fixed; z-index: 100;">
    <i id="menu_icon" class="icon ion-md-menu" style="font-size: 65px; color: white;"></i>
  </a>





  <router-outlet></router-outlet>






  <div id="offcanvas-nav-primary" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column" style="height: 100vh; width: 100%;">

      <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">

        <li *ngIf="auth.author | async; then authenticated else guest">

        </li>

        <ng-template #authenticated>
          <div *ngIf="auth.author | async as author">

            <img class="uk-comment-avatar" style="margin-top: -1em;" src="{{author.photoURL}}" width="60" height="auto" alt="">

            <br/>
            <button class="uk-button uk-button-text" type="button">{{author.displayName}}</button>

            <div uk-drop="animation: uk-animation-slide-top-small; duration: 1000; mode: click">
              <div class="uk-padding" style="height: 250px; overflow: scroll; background-color: white">
                <ul>
                  <li *ngFor="let icon of icons">
                    <a (click)="update_icon(icon)">
                      <img [src]="icon" width="80" height="80">
                      <br/>
                      <br/>
                      <br/>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <br/>
            <br/>


            <button (click)="auth.logout()" class="uk-button uk-button-text" style="margin-top: -1em;">Salir</button>


            <br/>
            <br/>

          </div>
        </ng-template>


        <ng-template #guest>
          <div class="uk-margin">
            <a (click)="auth.google_login(); intenta_votar = false;" style="text-decoration: none">
              <h1 style=" font-family: 'Roboto'; font-size: 18px; font-weight: 300; color: rgb(167, 167, 167);">
                <i class="icon ion-logo-googleplus" style="font-size: 30px;"></i> &nbsp; Inicia sesión
              </h1>
            </a>
          </div>
        </ng-template>


        <li class="uk-nav-divider"></li>


        <li class="uk-nav-header">MENU</li>
        <li routerLink="/home" uk-toggle="target: #offcanvas-nav-primary">
          <a>Inicio</a>
        </li>
        <li routerLink="/portafolio" uk-toggle="target: #offcanvas-nav-primary">
          <a>Portafolio de Servicios</a>
        </li>
        <li routerLink="/asociados" href="#asociados" uk-toggle="target: #offcanvas-nav-primary">
          <a>Asociados</a>
        </li>

        <li routerLink="/social" uk-toggle="target: #offcanvas-nav-primary">
          <a>Blog</a>
        </li>
        <li routerLink="/foro" href="#" uk-toggle="target: #offcanvas-nav-primary">
          <a>Foro</a>
        </li>

        <li routerLink="/contacto" href="#" uk-toggle="target: #offcanvas-nav-primary">
          <a>Contacto</a>
        </li>
      </ul>

      <a class="uk-button" type="button" uk-toggle="target: #offcanvas-nav-primary" style="text-decoration: none;">
        <i class="icon ion-md-close" style="font-size: 55px; color: whitesmoke;"></i>
      </a>

    </div>
  </div>





</div>
