<div style="min-height: 100vh;">

<br/>




  <div uk-grid>
    <div class="uk-width-1-6@m"></div>
    <div class="uk-width-expand@m" id="portafolio">
      <div style="padding: 3em;">
        <h1 class="portafolio-title">Asociados</h1>



        <div class="uk-panel">
          <div class="uk-align-center uk-align-right@m uk-margin-remove-adjacent"  id="asociadp_1"></div>

          <br/>
          <br/>
          <h1 style=" font-family: 'Roboto'; font-size: 40px; font-weight: 400; color: rgb(43, 43, 43);">Carlos Humberto García Orrego</h1>
          <h1 style=" font-family: 'Roboto'; font-size: 20px; font-weight: 300; color: rgb(167, 167, 167); margin-top: -1em;">Socio</h1>


        </div>


        <ul class="uk-list uk-list-divider">
          <li>
            <p>Magíster en derecho administrativo Universidad Libre de Colombia.</p>
          </li>
          <li>
            <p>Abogado de la Universidad Libre de Colombia</p>
          </li>
          <li>
            <p>Especializado en Contratación Estatal de la Universidad Externado de Colombia, 2009 </p>
          </li>
          <li>
            <p>Especializado en Planeación Educativa de la Pontificia Universidad Javeriana, 2006</p>
          </li>
          <li>
            <p>Especializado en Derecho Penal de la Universidad Externado de Colombia 1996</p>
          </li>
          <li>
            <p>Especializado en Derecho Administrativo Universidad Colegio Mayor de Nuestra Señora del Rosario 1994</p>
          </li>
          <li>
            <p>Docente en las áreas de derecho administrativo colombiano, contratación estatal, derecho disciplinario, estructura
              del Estado y temas de gestión organizacional, desarrolladas en diversas actividades de capacitación adelantadas
              por la Escuela de Investigación Criminal y Criminalística de la Fiscalía General de la Nación, Universidad
              Santo Tomás, Universidad Libre, Católica de Colombia, Santiago de Cali, Universidad de la Amazonía, Escuela
              Superior de Administración Pública ESAP y del Instituto de Estudios del Ministerio Público de la Procuraduría
              General de la Nación.</p>
          </li>
          <li>
            <p>Lider en la red de formadores del Instituto de Estudios del Ministerio Público de la Procuraduría General de
              la Nación.
              <br/> Dirigió la publicación Reflexiones Académicas en Derecho Disciplinario y Contratación Estatal que edita el
              Instituto de Estudios del Ministerio Público.</p>
          </li>
          <li>
              <p>Dirigió la publicación Reflexiones Académicas en Derecho Disciplinario y Contratación Estatal que edita el
                Instituto de Estudios del Ministerio Público.</p>
            </li>
          <li>
            <p>Jefe de la Oficina de Control Interno y como Jefe de la División de Capacitación del Instituto de Estudios del
              Ministerio Público de la Procuraduría General de la Nación.</p>
          </li>

        </ul>




      </div>
    </div>
    <div class="uk-width-1-6@m"></div>
  </div>



  <div>
    &nbsp;
    <br/>
    <br/>
  </div>



  <div uk-grid>
      <div class="uk-width-1-6@m"></div>
      <div class="uk-width-expand@m" id="portafolio" style="margin-top: -5em;">
        <div style="padding: 3em;">
          <h1 class="portafolio-title">Asociados</h1>
  
  
  
          <div class="uk-panel">
            <div class="uk-align-center uk-align-right@m uk-margin-remove-adjacent"  id="asociadp_2"></div>
  
            <br/>
            <br/>
            <h1 style=" font-family: 'Roboto'; font-size: 40px; font-weight: 400; color: rgb(43, 43, 43);">Adolfo José Mantilla Espinosa</h1>
            <h1 style=" font-family: 'Roboto'; font-size: 20px; font-weight: 300; color: rgb(167, 167, 167); margin-top: -1em;">Socio</h1>
  
  
          </div>
 
          <ul class="uk-list uk-list-divider">
            <li>
              <p> Abogado de la Universidad Externado de Colombia.</p>
            </li>
            <li>
              <p>Especialista en Derecho Público de la misma universidad.</p>
            </li>
            <li>
              <p>Magister en Derecho Administrativo.</p>
            </li>
            <li>
              <p>Diplomado en Derecho Tributario y Contratos Estatales de la Universidad del Rosario.</p>
            </li>
            <li>
              <p>Diplomado en Derecho Disciplinario Ley 734 de 2002.</p>
            </li>
            <li>
              <p>Procuraduría General de la Nación - Instituto de Estudios del Ministerio Público.</p>
            </li>
            <li>
              <p>Con experiencia de 23 años en Derecho Disciplinario y Contratación Estatal.</p>
            </li>
            <li>
              <p>Docente universitario a nivel de Postgrado (Universidad Libre, Militar Nueva Granada, Santo
                  Tomas de Aquino, Rosario, Sergio Arboleda, Universidad de Medellín, e Instituto de
                  Estudios del Ministerio Público de la Procuraduría General de la Nación)</p>
            </li>
            <li>
                <p>Magíster en Derecho Administrativo con la defensa del trabajo “El ejercicio de la exorbitancia en la
                    Universidad Pública”, premiado por el Instituto de Estudios del Ministerio Público en
                    octubre de 2013 con la condecoración “Mérito a la Excelencia Académica: mejor
                    docente externo”, en la actualidad asesor de algunas entidades del orden nacional y
                    territorial.</p>
              </li>
            
  
          </ul>
  
  
  
  
        </div>
      </div>
      <div class="uk-width-1-6@m"></div>
    </div>
  


  <div id="nbspasociados">
    &nbsp;
  </div>


</div>
