<div style="min-height: 100vh;">


  <div uk-grid>
    <div class="uk-width-1-6@m"></div>
    <div class="uk-width-expand@m" id="portafolio">
      <div style="padding: 3em;">
        <h1 class="portafolio-title">Eventos</h1>

        <br />
        <br />

        <ul uk-accordion class="uk-margin-bottom" style="margin-bottom: 5em;">


          <li class="uk-open">
            <a class="uk-accordion-title"
              style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Marzo
              2019</a>
            <div class="uk-accordion-content">

              <ul class="uk-margin-left" uk-accordion>

                <li>
                  <a class="uk-accordion-title"
                    style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Jornada
                    de Actualización Ley 1952 de 2019</a>
                  <div class="uk-accordion-content">
                    <p>

                      <strong>Lugar</strong> Hotel Cosmos Salón Finestra Av Calle 116 No. 18-60 <br />
                      <strong>Fecha</strong> 21 y 22 de marzo 2019 <br />
                      <strong>Valor del evento</strong> $ 990.000 (I.V.A. incluido) <br />
                      Descuento del 10% para egresados y estudiantes Universidad Libre <br />
                      Se entregará un ejemplar físico del Nuevo Código General Disciplinario <br /> <br />

                      <strong>¿Por qué es importante asistir a este evento?</strong> <br />

                      La Ley 1952 de 2019 reemplaza al Código Único Disciplinario a partir del 28 de mayo de
                      2019, razón por la cual se hace necesario que los servidores públicos y particulares conozcan
                      las principales implicaciones de este nuevo régimen sancionatorio, en especial la aplicación del
                      principio
                      de favorabilidad, los cambios en la prescripción y caducidad, las nuevas faltas en materia de
                      contratación,
                      la técnica para la dosificación de las sanciones, el régimen de los particulares, y la
                      implementación gradual
                      de la misma, entre otros temas. <br /><br />

                      <strong>Contenido académico</strong> <br />

                      1. ¿Están inhabilitados los concejales, diputados, miembros de JAL para aspirar a gobernaciones y
                      alcaldías para las elecciones de 2019?<br />
                      2. El impacto de los principios, normas rectoras y el bloque de constitucionalidad en la
                      aplicación del nuevo C.G.D. <br />
                      3. Aspectos controversiales del C.G.D <br />
                      4. ¿Se consagra un régimen probatorio autónomo en el C.G.D? <br />
                      5. El maneja de la ilicitud sustancial y de la culpabilidad en el nuevo régimen sancionatorio.
                      <br />
                      6. Novedades en el régimen sancionatorio de los particulaes. Interventores, particulares en el
                      ejercicio de función pública y contratistas del Estado. <br />
                      7. Impactos y efectos de la eliminación de la caducidad. La prescripción de los fallos en primera
                      instancia proferidos ante de la vigencia del C.G.D.<br />
                      8. La aplicación del beneficio con colaboración en el nuevo régimen disciplinario. <br />
                      9. Análisis de las nuevas faltas gravísimas. <br />
                      10. Aspectos prácticos y de implementación del Procedimiento único disciplinario. <br />
                      11. Sanciones. Graduación y proporcionalidad. Taller práctico. 

                      <br /><br />

                      <strong>Nómina de conferencistas</strong> <br />

                      <strong>Dr. José Rory Forero Salcedo.</strong> Doctor en derecho, tratadista en la materia. <br />
                      <strong>Dr. Carlos Eduardo Enríque Maya.</strong> Senador ponente del proyecto de ley. <br />
                      <strong>Dr. Juan Carlos Novoa Buendía. </strong> Exprocurador Delegado Sala Disciplinaria de la
                      P.N.G. <br />
                      <strong>Dr. Jesús Alejandro Garzón. </strong> Asesor despacho procurador general. Exprocurador
                      regional. <br />
                      <strong>Dr. José Omar Ortíz Peralta. </strong> Exprocurador auxiliar para asuntos disciplinarios
                      de la PGN. <br />
                      <strong>Dr. Jhon Harvey Ponzón Navarrete. </strong> Exprocurador auxiliar para asuntos
                      disciplinarios de la PGN. Magister en derecho, profesor universitario. Tratadista en la matria.
                      <br />
                      <strong>Dr. Roberto Augusto Serrato Valdes. </strong> Consejero de Estado. <br />
                      <strong>Dr. Manuel Dagoberto Caro. </strong> Asesor Procuraduría General de la Nación. Profesor
                      Universitario.


                      <br /><br />

                      <strong>Coordinadores académicos del evento</strong> <br />

                      <strong>Dr. Adolfo José Mantilla Espinosa. </strong> Profesor universitario, consultor en la
                      materia. <br />
                      <strong>Dr. Carlos Humberto García Orrego. </strong> Ex jefe de capacitación del Instituto de
                      Estudios de la Procuraduría General de la Nación. 

                      <br /><br />

                      <strong>Datos de contacto</strong> <br />
                      
                      Contacto: Jhoanna Rubiano<br />
                      Celular: +57 (315) 826 9662<br /> <br />

                      Contacto: Paola Pérez<br />
                      Celular: +57 (317) 385 6861 <br /><br />
                      
                      Email: gyldefensajuridica@hotmail.com<br />
                      Dirección: Calle 135 # 54-50 Oficina 1004<br />
                      Bogotá, Colombia<br /><br />


                    </p>
                  </div>
                </li>

              </ul>

            </div>
          </li>


          <!--

          <li>
            <a class="uk-accordion-title"
              style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Febrero
              2019</a>
            <div class="uk-accordion-content">
              
            </div>
          </li>



          <li>
            <a class="uk-accordion-title"
              style=" font-family: 'Roboto'; font-size: 25px; font-weight: 300; color: rgb(167, 167, 167);">Enero 2019
            </a>
            <div class="uk-accordion-content">
              
            </div>
          </li>

          -->









        </ul>


      </div>
    </div>
    <div class="uk-width-1-6@m"></div>
  </div>


</div>